ul {
  list-style: none;
}

body {
  font-family: sans-serif;
}

a {
  text-transform: uppercase !important;
}

.main-header {
  height: auto;
  background: rgb(53, 52, 52);

  /*linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url("./2.jpg") no-repeat center/cover ;*/
}

.header-h1 {
  text-align: center;
  padding: 2rem 0;
  color: #fff;
}

.header-h1 h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.readMore {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cards {
  margin-top: 200px 0;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: all 0.5s;
}

a {
  text-decoration: none !important;
}

.card {
  border-radius: 10px;
  transition: all 0.5s;
}

code {
  font-size: 16px;
  color: #000;
  display: block;
}
